* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* CSS Variables */
:root {
  /* Primary Colors */
  --bright-red: hsl(12, 88%, 59%);
  --dark-blue: hsl(228, 39%, 23%);

  /* Neutral Colors */

  --dark-gray-blue: hsl(227, 12%, 61%);
  --very-dark-blue: hsl(233, 12%, 13%);
  --very-pale-red: hsl(13, 100%, 96%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  /* background-image: url(/images/bg-tablet-pattern.svg); */
  background-size: 50%;
  margin: 0px;
}

/* Navigation Styling */
nav {
  display: flex;
  margin: 1rem 0;
  padding: 1rem 0;
  justify-content: space-around;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

.nav-links a {
  margin: 0 1rem;
  text-decoration: none;
  color: var(--dark-blue);
  font-size: .9rem;
  font-family: "Be Vietnam Pro", sans-serif;
}

/* Button */
.btn{
    width: 8rem;
    padding: .8rem 0;
    cursor: pointer;
    background: var(--bright-red);
    outline: none;
    font-family: "Be Vietnam Pro", sans-serif;
    border: none;
    border-radius: 1.5rem;
    color: var( --very-light-gray);
    /* box-shadow: 20px 8px 25px 7px rgba(0,0,0,0.99);
    -webkit-box-shadow: 20px 8px 25px 7px rgba(0,0,0,0.99);
  -moz-box-shadow: 20px 8px 25px 7px rgba(0,0,0,0.99); */
}

/* First Section Styles */
.first-section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.5rem 0;
  padding: 0 5rem;
}

.box-left h1{
  font-size: 2.7rem;
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 1.5rem;
  line-height: 2.8rem;
}

.box-left p{
  color: var(--dark-gray-blue);
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-bottom: 2rem;
}

.box-right{
  width: 45%;
}

.box-right img{
  width: 100%;
}


/* Manage section styling */
section#manage{
  display: flex;
  justify-content: space-between;
  padding: 0 3em;
  margin: 5rem 0;
  font-family: 'Be Vietnam Pro', sans-serif;
}

section#manage > div{
  width: 45%;
}

.sub_manage_desc {
  /* border: 2px solid; */
  padding: 0 2em;
}

.sub_manage_desc h1{
  margin: 0 0 1em 0;
  font-size: 2rem;
  color: var(--dark-blue);
}

.sub_manage_desc p{
  margin-right: 5rem;
  font-size: 1rem;
  color: var(--dark-gray-blue);
}

.sub_manage_list__item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.sub_manage_list__item .individual__sub_manage_list__item:nth-child(1) {
  /* border: 2px solid; */
  margin-right: 1.5em;
}

.sub_manage_list__item .individual__sub_manage_list__item:nth-child(1) button {
  width: 3.5em;
  border-radius: 20px;
  height: 2em;
  background-color: var(--bright-red);
  color: white;
  border: 0;
}

.sub_manage_list__item .individual__sub_manage_list__item:nth-child(2) {
  /* border: 2px solid; */
  font-family: 'Be Vietnam Pro', sans-serif;
  margin-top: .2rem;
}

.sub_manage_list__item .individual__sub_manage_list__item:nth-child(2) h2 {
  font-size:  1rem;
  color: var(--dark-blue);
  margin-bottom: 1em;
}

.sub_manage_list__item .individual__sub_manage_list__item:nth-child(2) p {
  color: var(--dark-gray-blue);
  margin-right: 3em;
}
/* Manage section styling ends */